@inherits CandyLayoutVM
@inject NavigationManager Navigation

<MApp>
    <MMain>
        <MContainer Fluid>
            <MErrorHandler>
                @Body
          </MErrorHandler>
        </MContainer>
    </MMain>

    <MBottomNavigation @bind-Value="SelectIndex"
                       BackgroundColor="@Color"
                              App
                              HideOnScroll
                              Dark
                              Shift>
        <MButton Href="/">
            <span>Home</span>
            <MIcon>mdi-home</MIcon>
        </MButton>
        <MButton Href="/Rifan">
            <span>Rifan</span>
            <MIcon>mdi-cannabis</MIcon>
        </MButton>
        <MButton Href="/Comic">
            <span>Comic</span>
            <MIcon>mdi-image-filter-vintage</MIcon>
        </MButton>
        <MButton Href="/Anime">
            <span>Anime</span>
            <MIcon>mdi-television</MIcon>
        </MButton>
        <MButton OnClick="_=>Navigation.Back()">
            <span>Back</span>
            <MIcon>mdi-history</MIcon>
        </MButton>
    </MBottomNavigation>
</MApp>